<launch>
    <node name = "talker" pkg = "talker" type = "talker_node"
          output = "screen" />

    <node name = "listener" pkg = "listener" type = "listener_node"
          output = "screen">
        <remap from = "babble" to = "chatter" />
    </node>
    
    <node name = "blackbox" pkg = "blackbox" type = "blackbox_node"
    		output = "screen">
    	<remap from = "babble" to = "chatter" />
    </node>
</launch>
